platform: linux
image_resource:
  type: registry-image
  source:
    repository: hashicorp/terraform
    tag: 1.0.4
    username: ((docker-hub-username))
    password: ((docker-hub-password))
params:
  DEPLOYER_ROLE_ARN: ((deployer-role-arn-non-prod))
  DEPLOY_ENVIRONMENT: integration
  DNS_DEPLOYER_ROLE_ARN: ((deployer-role-arn-production))
  DNS_STATE_BUCKET: ((dns-state-bucket))
  DNS_STATE_KEY: ((dns-state-key))
  SMOKETESTER_PASSWORD: ((smoke-tester-password-integration))
  SMOKETESTER_PHONE: ((smoke-tester-phone-integration))
  SMOKETESTER_USERNAME: ((smoke-tester-username-integration))
  BASIC_AUTH_USERNAME: ((basic-auth-username-integration))
  BASIC_AUTH_PASSWORD: ((basic-auth-password-integration))
  STATE_BUCKET: digital-identity-dev-tfstate
  CRONITOR_API_KEY: ((cronitor-send-events-api-key))
  CRONITOR_MONITOR_KEY: ((cronitor-monitor-key-integration))
  PAGERDUTY_P1_ALERTS_ENDPOINT: ((pagerduty-p1-alerts-endpoint))
  PAGERDUTY_P2_ALERTS_ENDPOINT: ((pagerduty-p2-alerts-endpoint))
  PAGERDUTY_CRONITOR_ALERTS_ENDPOINT: ((pagerduty-cronitor-alerts-endpoint))
  SLACK_ALERT_URI: ((monitoring-alert-slack-webhook))
  SIGNED_CODE_S3_BUCKET: ((di-auth-lambda-signed-bucket))

inputs:
  - name: src
  - name: smoke-test-release
  - name: hashed-password
  - name: di-monitoring-utils-alerts-lambda
  - name: di-monitoring-utils-heartbeat-lambda
outputs:
  - name: terraform-outputs
run:
  path: /bin/sh
  args:
    - -euc
    - |
      ALERT_CODE_S3_KEY="di-monitoring-utils/alerts.zip/$(ls -1 di-monitoring-utils-alerts-lambda/signed-*.zip)"
      HEARTBEAT_CODE_S3_KEY="di-monitoring-utils/heartbeat.zip/$(ls -1 di-monitoring-utils-heartbeat-lambda/signed-*.zip)"
      
      cd "src/ci/terraform"
      terraform init -input=false \
        -backend-config "role_arn=${DEPLOYER_ROLE_ARN}" \
        -backend-config "bucket=${STATE_BUCKET}" \
        -backend-config "key=${DEPLOY_ENVIRONMENT}-smoke-test-terraform.tfstate" \
        -backend-config "encrypt=true" \
        -backend-config "region=eu-west-2"

      terraform apply -auto-approve \
        -var "cronitor_api_key=${CRONITOR_API_KEY}" \
        -var "cronitor_monitor_key=${CRONITOR_MONITOR_KEY}" \
        -var "deployer_role_arn=${DEPLOYER_ROLE_ARN}" \
        -var "dns_state_bucket=${DNS_STATE_BUCKET}" \
        -var "dns_state_key=${DNS_STATE_KEY}" \
        -var "dns_state_role=${DNS_DEPLOYER_ROLE_ARN}" \
        -var "environment=${DEPLOY_ENVIRONMENT}" \
        -var "heartbeat_lambda_zip_file=../../../smoke-test-release/heartbeat.zip" \
        -var "password=${SMOKETESTER_PASSWORD}" \
        -var "hashed_password=$(cat ../../../hashed-password/hashed-password.txt)" \
        -var "phone=${SMOKETESTER_PHONE}" \
        -var "basic_auth_username=${BASIC_AUTH_USERNAME}" \
        -var "basic_auth_password=${BASIC_AUTH_PASSWORD}" \
        -var "pagerduty_p1_alerts_endpoint=${PAGERDUTY_P1_ALERTS_ENDPOINT}" \
        -var "pagerduty_p2_alerts_endpoint=${PAGERDUTY_P2_ALERTS_ENDPOINT}" \
        -var "pagerduty_cronitor_alerts_endpoint=${PAGERDUTY_CRONITOR_ALERTS_ENDPOINT}" \
        -var "shared_state_bucket=${STATE_BUCKET}" \
        -var "slack_hook_uri=${SLACK_ALERT_URI}" \
        -var "smoke_test_lambda_zip_file=../../../smoke-test-release/canary.zip" \
        -var "alerts_lambda_zip_file=../../../smoke-test-release/alerts.zip" \
        -var "username=${SMOKETESTER_USERNAME}" \
        -var "code_s3_bucket=${SIGNED_CODE_S3_BUCKET}" \
        -var "alerts_code_s3_key=${ALERT_CODE_S3_KEY}" \
        -var "heartbeat_code_s3_key=${HEARTBEAT_CODE_S3_KEY}" \

      terraform output --json > ../../../terraform-outputs/${DEPLOY_ENVIRONMENT}-smoke-test-terraform-outputs.json
