name: "Dev: Build and deploy smoke tests"
# This workflow builds and deploys smoke tests to the strategic development environment.

on: workflow_dispatch

jobs:
  pr-data:
    name: Get data for merged PR
    permissions:
      contents: read
      pull-requests: read
    uses: ./.github/workflows/call_get_pr_data.yml

  deploy:
    needs: pr-data
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up SAM cli
        uses: aws-actions/setup-sam@c71dd89d980e49367c70391e8ada4353f52f2800 # v2
        with:
          use-installer: true
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "20.17.0"
          cache: "npm"

      - name: Install dependencies
        run: npm ci --ignore-scripts --omit=dev

      - name: Build smoke tests
        run: npm run build:all

      - name: Set up AWS credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: ${{ secrets.DEV_GHA_BUILD_ROLE }}
          aws-region: eu-west-2

      - name: SAM build
        run: |
          sam validate --lint -t template.yaml
          sam build --parallel -t template.yaml

      - name: Deploy SAM app # synthetics-directory is used for synthetics canary Artifacts upload to S3
        uses: govuk-one-login/devplatform-upload-action@fda75612a1b0e5a8c84ae7c44a23340e50e5bbde #v3.11.0
        with:
          artifact-bucket-name: ${{ secrets.DEV_ARTIFACT_BUCKET }}
          signing-profile-name: ${{ secrets.DEV_SIGNING_PROFILE_NAME }}
          template-file: .aws-sam/build/template.yaml
          synthetics-directory: ./dist
