name: "Build : Build and deploy smoke tests"
# This workflow builds and deploys smoke tests for the authentication module.

on:
  push:
    branches:
      - main

jobs:
  pr-data:
    name: Get data for merged PR
    permissions:
      contents: read
      pull-requests: read
    uses: ./.github/workflows/call_get_pr_data.yml

  deploy:
    needs: pr-data
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up SAM cli
        uses: aws-actions/setup-sam@d78e1a4a9656d3b223e59b80676a797f20093133 # v2
        with:
          use-installer: true
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "20.17.0"
          cache: "npm"

      - name: Install dependencies
        run: npm ci --ignore-scripts --omit=dev

      - name: Build smoke tests
        run: npm run build:all

      - name: Set up AWS credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          role-to-assume: ${{ secrets.GHA_BUILD_ROLE }}
          aws-region: eu-west-2

      - name: SAM build
        run: |
          sam validate --lint -t template.yaml
          sam build --parallel -t template.yaml

      - name: Deploy SAM app # synthetics-directory is used for synthetics canary Artifacts upload to S3
        uses: govuk-one-login/devplatform-upload-action@b7bc01ed6e0b61d54f42e7f3d12dd3fdbb0f172a #v3.13.0
        with:
          artifact-bucket-name: ${{ secrets.ARTIFACT_BUCKET }}
          signing-profile-name: ${{ secrets.SIGNING_PROFILE_NAME }}
          template-file: .aws-sam/build/template.yaml
          synthetics-directory: ./dist
