name: "Build : Build and deploy smoke tests"
# This workflow builds and deploys smoke tests for the authentication module.

on:
  push:
    branches:
      - main

jobs:
  pr-data:
    name: Get data for merged PR
    permissions:
      contents: read
      pull-requests: read
    uses: ./.github/workflows/call_get_pr_data.yml

  deploy:
    needs: pr-data
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up SAM cli
        uses: aws-actions/setup-sam@c71dd89d980e49367c70391e8ada4353f52f2800 # v2
        with:
          use-installer: true
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "20.17.0"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --production --frozen-lockfile

      - name: Build smoke tests
        run: yarn run build:all

      - name: Set up AWS credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: ${{ secrets.GHA_BUILD_ROLE }}
          aws-region: eu-west-2

      - name: SAM build
        run: |
          sam validate --lint -t template.yaml
          sam build --parallel -t template.yaml

      - name: Deploy SAM app # synthetics-directory is used for synthetics canary Artifacts upload to S3
        uses: govuk-one-login/devplatform-upload-action@fda75612a1b0e5a8c84ae7c44a23340e50e5bbde #v3.11.0
        with:
          artifact-bucket-name: ${{ secrets.ARTIFACT_BUCKET }}
          signing-profile-name: ${{ secrets.SIGNING_PROFILE_NAME }}
          template-file: .aws-sam/build/template.yaml
          synthetics-directory: ./dist
